.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.gitmodules
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
types/**
docs/**
.github/**